
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

:root {
   --header-color: white;
   --font-color: #aed3e1;
   --bg-color: #070040;
}

body {
   color: var(--font-color);
   background-color: var(--bg-color);
   font-family: Arial, sans-serif;
}
      
h1 {
   color: var(--header-color);
   font-size: 3rem;
   font-style: italic;
   font-variant: small-caps;
   text-align: center;
 }
      
h2 {
   color: var(--header-color);
   font-size: 2.5rem;
   font-variant: small-caps;
}

a:link {
   color: var(--font-color);  
}   

a:visited {
   color: var(--font-color);  
}   

a:hover {
   color: yellow; 
}  

a:active {
   color: purple;
}   

.nav {
   text-align: center;
}

.nav a {
   text-decoration: none;
   text-transform: lowercase;
   font-weight: bold;
   font-size: larger;
   margin-left: 10px;
   margin-right: 10px;
}

.non-profit {
   float: left;
   clear: both;
}

#nonprofit ul {
   float: left;
}

#nonprofit {
   display: inline-block;
}

section {
   margin-top: 50px;
   margin-left: 20px;
}
      
#IMG img {
   margin-bottom: 20px;
}
      
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}    

td {
   padding: 10px;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="https://bu-meh.github.io/">Home</a></li>
  <li><a href="https://bu-meh.github.io/bacs200/index.html">BACS200 Pages</a></li>
  <li><a href="https://bu-meh.github.io/bacs200/profile.html">Profile</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>


